<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <div class="form-signin text-center">
            <div class="form-label-group">
              <input type="email" id="inputEmail" [(ngModel)]="loginModel.UserName" class="form-control" placeholder="Email address" required autofocus>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" [(ngModel)]="loginModel.Password" class="form-control" placeholder="Password" required>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()">Sign in</button> <br />
            <a href="javascript:void(0)" [routerLink]="['/register']">Create Account</a>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="googleLogin()"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>